.footer {
    padding: 50px 0;
    background: $color-fbg;

    .inner {
        //height: 500px;
        display: flex;
        justify-content: space-between;
        //align-items: center;
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 60%;
            transform: translate(0, -50%);

            width: 1px;
            height: 160px;
            background: $color-ffa;
        }

        .company {
            display: flex;
            gap: 50px;

            li {
                font-size: 18px;
                font-weight: 700;
                color: $color-white0;

                ul {
                    padding: 15px 0;
                    li {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        //color: $color-fli;
                    }
                }
            }
        }

        .about {
            .impormation {
                display: flex;
                align-items: center;
                gap: 30px;
                margin: 0 0 30px 0;

                li {
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-white0;
                }
            }

            .family_box {
                cursor: pointer;
                position: relative;

                span {
                    font-size: 16px;
                    font-weight: 400;
                    color: $color-white0;
                    background: $color-ffa;
                    display: inline-block;
                    padding: 10px 20px;
                    //width: 153px;
                    margin: 0 0 30px 0;
                    

                    i {
                        margin: 0 0 0 10px;
                    }
                }

                ul {
                    //display: none;

                    position: absolute;
                    bottom: 67px;
                    left: 0;
                    width: 162.66px;
                    height: 0;
                    transform: translate(0, 0);
                    //padding: 0 20px;
                    background: $color-ffa;
                    z-index: 998;
                    overflow: hidden;

                    transition: 0.5s;
                    

                    li {
                        color: $color-white0;
                        font-size: 14px;
                        font-weight: 400;
                        //line-height: 24px;
                        padding: 10px 20px;
                        border-bottom: 1px solid $color-btnbg;

                        &:hover {
                            background: $color-dark;
                        }
                    }

                    &.on {
                        height: 180px;
                        //padding: 5px 0;
                        //padding: 10px;
                        //padding: 10px 20px;
                    }
                }
            }

            span {
                display: block;
                color: $color-fli;
            }

            .address {
                font-size: 14px;
                font-weight: 300;
                margin: 0 0 5px 0;

                .tell {
                    display: inline-block;
                }
            }

            .copy {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

@media (max-width:768px) {
    .footer {
        padding: 50px 0;

        .inner {
            flex-direction: column;
            padding: 0 20px;

            &::before {
                display: none;
            }

            .company {
                display: none;
            }

            .about {
                .impormation {
                    justify-content: flex-start;
                    margin: 0 0 16px 0;

                    li {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .family_box {
                    span {
                        font-size: 12px;
                        font-weight: 400;
                        margin: 0 0 16px 0;
                    }
                }

                .address {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                }
    
            }

          
            
        }
    }
}