.header {
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 999;
    background: $color-header;

    &.on {
        background: $color-header;
    }

    .h_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;

        h1 {
            background: url(../imges/logo_w.svg)no-repeat center center/cover;
            width: 130px;
            height: 60px;
        }

        .gnb {

            &:hover .lnb {
                display: block;
                //height: 200px;
                top: 100px;
                height: 200px;

                li {
                    color: $color-white;
                }
                
            }

            &:hover::before {
                //display: block;
                height: 200px;
                overflow: hidden;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
            }

            &::before {
                content: "";
                position: absolute;
                top: 100px;
                left: 0;
                right: 0;
                height: 0;
                background: $color-header;
                overflow: hidden;

                //display: none;
                transition: 0.2s;
            }

            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 80px;

                li {
                    color: $color-white;
                    font-size: 20px;
                    font-weight: 500;
                    position: relative;

                    &:hover {
                        color: $color-yellow;
                    }


                    a {
                        line-height: 100px;
                    }

                    .lnb {
                        //display: none;
                        flex-direction: column;
                        min-width: 150px;
                        position: absolute;

                        top: 50px;
                        left: 0;
                        gap: 0;
                        padding: 25px 0;
                        height: 0;
                        width: 100%;
                        overflow: hidden;
                        transition: 0.5s 1s;
                        display: none;
                    
                        li {
                            font-size: 15px;
                            font-weight: 400;
                            text-align: left;
                            width: 100%;
                            line-height: 30px;
                            color: transparent;

                            &:hover {
                                color: $color-yellow;
                            }

                            a{
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }

        .cus {
            display: flex;
            align-items: center;
            gap: 30px;

            span {
                    color: $color-white;
                    font-size: 16px;
                    font-weight: 500;

                .inquiry {
                    line-height: 100px;
                    padding: 8px 25px;
                    border: 1px solid $color-white;
                    border-radius: 50px;

                    transition: 0.3s;

                    &:hover {
                        background: $color-red;
                        border: 1px solid transparent;
                    }
                }
            }

            .lng {
                position: relative;
                cursor: pointer;

                span {
                    color: $color-white;
                    font-size: 16px;
                    font-weight: 500;

                    a {
                        line-height: 100px;
                    }
                }

                ul {
                    display: none;
                    position: absolute;
                    top: 30px;
                    left: -10px;
                    width: 60px;
                    padding: 8px 16px;
                    background: $color-white0;

                    li {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        color: $color-dark;
                    }

                    li~li {
                        border-top: 1px solid $color-btnbg;
                    }

                    &.on {
                        display: block;
                    }
                }
            }

            
        }
    }
}

@media (max-width: 768px) {
    .header {
        height: 80px;
        z-index: 999;

        .h_inner {
            height: 80px;
            padding: 0 20px;

            z-index: 999;
            
            h1 {
                background: url(../imges/logo_w.svg)no-repeat center center;
                height: 60px;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translate(0, -50%);

                z-index: 999;
            }

            .gnb {
                display: none;

                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                width: 100%;
                background: $color-dark;

                &:hover::before {
                    height: 0;
                    top: 0;
                    height: 0;
                }

                ul {
                    flex-direction: column;
                    gap: 50px;
                    padding: 100px 0 0 0;

                    li {
                        a {
                            line-height: 0;
                        }

                        .lnb {
                            position: static;
                            top: 0;
                            left: 0;
                            padding: 0;
                        }

                        .lnb.on {
                            display: block;
                        }
                    }
                }
            } 

            .cus {
                display: none;
            }
        }
    }
}