.header {
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 999;
    background: $color-header;

    .h_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h1 {
            background: url(../imges/logo_w.svg)no-repeat center center/cover;
            width: 130px;
            height: 60px;
        }

        .gnb {

            &:hover .lnb {
                //display: block;
                //height: 200px;
                top: 100px;
                li {
                    color: $color-white;
                }
                
            }

            &:hover::before {
                //display: block;
                height: 200px;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
            }

            &::before {
                content: "";
                position: absolute;
                top: 100px;
                left: 0;
                right: 0;
                height: 0;
                background: $color-header;
                overflow: hidden;

                //display: none;
                transition: 0.3s;
            }

            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 80px;

                li {
                    color: $color-white;
                    font-size: 20px;
                    font-weight: 500;
                    position: relative;

                    &:hover {
                        color: $color-yellow;
                    }


                    a {
                        line-height: 100px;
                    }

                    .lnb {
                        //display: none;
                        flex-direction: column;
                        min-width: 150px;
                        position: absolute;

                        top: 100px;
                        left: 0;
                        gap: 0;
                        padding: 25px 0;
                        width: 100%;
                        height: 200px;
                        overflow: hidden;
                        //display: none;
                    
                        li {
                            font-size: 15px;
                            font-weight: 400;
                            text-align: left;
                            width: 100%;
                            line-height: 30px;
                            color: transparent;

                            &:hover {
                                color: $color-yellow;
                            }

                            a{
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }

        .cus {
            display: flex;
            align-items: center;
            gap: 30px;

            span {
                    color: $color-white;
                    font-size: 16px;
                    font-weight: 500;

                .inquiry {
                    line-height: 100px;
                    padding: 8px 25px;
                    border: 1px solid $color-white;
                    border-radius: 50px;

                    transition: 0.3s;

                    &:hover {
                        background: $color-red;
                        border: 1px solid transparent;
                    }
                }
            }

            .lng {
                span {
                    color: $color-white;
                    font-size: 16px;
                    font-weight: 500;

                    a {
                        line-height: 100px;
                    }
                }
            }

            ul {
                display: none;
            }
        }
    }
}