.main_sk {
    
    .sk_slide {
        position: relative;

        .swiper-wrapper {
            .swiper-slide {

                .txt {
                    @include inner();
                    @include max-position_left();
                    color: $color-white;

                    h2 {
                        font-size: 70px;
                        font-weight: 700;
                        line-height: 80px;
                        margin: 0 0 20px 0;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24px;
                        color: $color-white;
                    }
                }
            }
            .sk01 {
                background: url(../imges/msk_01.png)no-repeat center center/cover;
                height: 100vh;
            }
            .sk02 {
                background: url(../imges/msk_02.png)no-repeat center center/cover;
                height: 100vh;
            }
            .sk03 {
                background: url(../imges/msk_03.png)no-repeat center center/cover;
                height: 100vh;
            }   
        }

        .swiper_button {
            @include inner();
            @include max-position_left();
            top: 75%;
            left: 21%;
            width: auto;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid $color-white;
            border-radius: 25px;
            padding: 10px 15px;
            cursor: pointer;
            display: flex;
            gap: 20px;

            z-index: 998;

            &::before {
                content: "";
                position: absolute;
                top: 22%;
                left: 50%;
                width: 1px;
                height: 30px;
                background: rgba(255, 255, 255, 0.8);
                z-index: 998;
            }

            i {
                font-size: 30px;
                font-weight: 300;
                color: $color-white;

                z-index: 998;
            }
        }

        .swiper-pagination {
            @include inner();
            @include max-position_left();
            top: 55%;
            width: 1400px;

            display: flex;
            justify-content: flex-start;

            .swiper-pagination-bullet {
               width: 50px;
               height: 2px;
               background: $color-white;
               border-radius: 10px;
            }
            
        }
    }

    .scroll_box {

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 2px;
            height: 150px;
            background: rgba(255, 255, 255, 0.5);
            

            z-index: 999;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 150px;
            left: 50%;
            width: 2px;
            height: 50px;
            background: rgb(223, 223, 223);
            

            z-index: 999;
            animation: down 1.5s linear 1s infinite;
        }

        @keyframes down {
            0% {
                bottom: 100px;
                background: rgba(225, 225, 225, 1);
            }

            50% {
                bottom: 50px;
                background: rgba(225, 225, 225, 0.8);
            }

            75% {
                bottom: 25px;
                background: rgba(225, 225, 225, 0.5);
            }

            100% {
                bottom: -10px;
                background: rgba(225, 225, 225, 0.1);
            }
        }
        
    }
}