.main_global {
    position: relative;

    .video_box {
        position: relative;
        width: 100%;
        height: 100%;  
        overflow: hidden;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #1B3973;
            opacity: 0.4;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            z-index: 1;
        }

        video {
            position: absolute;
            left: 65%;
            bottom: 20%;
            transform: translateX(-50%) scale(1.5);
            -webkit-transform: translateX(-50%) scale(1.5);
            -moz-transform: translateX(-50%) scale(1.5);
            -ms-transform: translateX(-50%) scale(1.5);
            -o-transform: translateX(-50%) scale(1.5);
            min-width: 2000px;
            width: 100%;
        }
    }
   
    .inner {
        @include position_center();
        z-index: 998;
        top: 52.5%;
        width: 100%;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #1B3973;
            opacity: 0.7;
            z-index: 999;
        }

        .tit {
            color: $color-white;

            h3 {
                font-size: 70px;
                font-weight: 700;
                margin: 0 0 16px 0;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }

    .link_box {
        @include position_center();
        width: 100%;
        height: 100%;
        z-index: 998;

        li {
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;

            position: absolute;
            transition: 0.5s;

            :hover {
                background: $color-red;
                border: 1px solid $color-red;
            }

            a {
                padding: 10px 20px;
                border: 1px solid $color-white;
                border-radius: 50px;
                    
                i {
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 20px;
                    vertical-align: middle;
                }

                span {
                    font-size: 16px;
                    font-weight: 400;
                    vertical-align: middle;
                }
            }
        }

        .Poland {
            top: 50%;
            right: 50%;
            transform: translate(0, -50%);
        }

        .Russia {
            top: 40%;
            right: 40%;
            transform: translate(0, -50%);
        }

        .India {
            top: 60%;
            right: 40%;
            transform: translate(0, -50%);
        }

        .Seoul{
            top: 50%;
            right: 30%;
            transform: translate(0, -50%);
        }

        .Beijing {
            top: 35%;
            right: 20%;
            transform: translate(0, -50%);
        }

        .Ulsan {
            top: 60%;
            right: 20%;
            transform: translate(0, -50%);
        }

        .America {
            top: 50%;
            right: 10%;
            transform: translate(0, -50%);
        }

        .Mexico {
            top: 60%;
            right: 10%;
            transform: translate(0, -50%);
        }
    }

}