.main_customer {
    background: url(../imges/mc_01.jpg)no-repeat center center/cover;
    height: 100vh;

    .inner {
        .txt {
            text-align: center;

            h3 {
                color: $color-white;
                font-size: 70px;
                font-weight: 700;
                margin: 0 0 30px 0;
            }

            p {
                color: $color-white;
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                margin: 0 0 70px 0;
            }

            span {
                font-size: 20px;
                font-weight: 400;

                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    padding: 15px 30px;
                    color: $color-dark;
                    background: $color-white;
                    border-radius: 50px;
                    transition: 0.5s;

                    &:hover {
                        color: $color-white;
                        background: $color-red;
                    }

                    i {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main_customer {
        background: url(../imges/mc_01.jpg)no-repeat center center/cover;
        .inner {
            .txt {
                h3 {
                    font-size: 42px;
                    line-height: 52px;
                    margin: 0 0 16px 0;
                }

                p {
                    font-size: 16px;
                    line-height: 22px;
                    margin: 0 0 50px 0;
                }

                span {
                    font-size: 16px;

                    a {
                        padding: 12px 20px;
                    }
                }
            }
        }
    }
}