$color-dark:#363636;
$color-ldark:#475569;
$color-button:#656a6f99;
$color-red:#EA002C;
$color-fbg:#0f172a;
$color-fli:#e2e8f0;
$color-fad:#cbd5e1;
$color-ffa:#555555;
$color-top:#80858c;
$color-yellow:#ffd600;
$color-white:#ffffff;
$color-white0:#dfdfdf;
$color-btn:rgba(101,106,111,0.6);
$color-header:rgba(0, 0, 0, 0.2);
