@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  word-break: keep-all;
  font-family: "Noto Sans", "Noto Sans KR", "Roboto", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.h_inner {
  margin: 0 auto;
  padding: 0 60px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.header .h_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .h_inner h1 {
  background: url(../imges/logo_w.svg) no-repeat center center/cover;
  width: 130px;
  height: 60px;
}
.header .h_inner .gnb ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.header .h_inner .gnb ul li {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.header .h_inner .gnb ul li:hover {
  color: #ffd600;
}
.header .h_inner .gnb ul li a {
  line-height: 100px;
}
.header .h_inner .gnb ul li .lnb {
  display: none;
}
.header .h_inner .cus {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .h_inner .cus span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.header .h_inner .cus span .inquiry {
  line-height: 100px;
  padding: 8px 25px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: 0.3s;
}
.header .h_inner .cus span .inquiry:hover {
  background: #EA002C;
  border: 1px solid transparent;
}
.header .h_inner .cus .lng span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.header .h_inner .cus .lng span a {
  line-height: 100px;
}
.header .h_inner .cus ul {
  display: none;
}

.main_sk .sk_slide .swiper-wrapper .swiper-slide .txt {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  width: 1400px;
  color: #ffffff;
}
.main_sk .sk_slide .swiper-wrapper .swiper-slide .txt h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin: 0 0 20px 0;
}
.main_sk .sk_slide .swiper-wrapper .swiper-slide .txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #dfdfdf;
}
.main_sk .sk_slide .swiper-wrapper .sk01 {
  background: url(../imges/msk_01.png) no-repeat center center/cover;
  height: 100vh;
}
.main_sk .sk_slide .swiper-wrapper .sk02 {
  background: url(../imges/msk_02.png) no-repeat center center/cover;
  height: 100vh;
}
.main_sk .sk_slide .swiper-wrapper .sk03 {
  background: url(../imges/msk_03.png) no-repeat center center/cover;
  height: 100vh;
}

.main_product .inner .tit {
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
  gap: 100px;
  position: relative;
}
.main_product .inner .tit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 60px;
  background: #cbd5e1;
  z-index: 998;
}
.main_product .inner .tit h3 {
  font-size: 60px;
  font-weight: 700;
  color: #363636;
}
.main_product .inner .tit p {
  font-size: 18px;
  font-weight: 500;
  color: #475569;
  line-height: 24px;
}
.main_product .product_slide .slick-active.slick-center .list .txt {
  display: block;
}
.main_product .product_slide .p_slide {
  position: relative;
}
.main_product .product_slide .p_slide .list {
  padding: 0 50px;
}
.main_product .product_slide .p_slide .list .txt {
  width: 100%;
  padding: 0 100px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}
.main_product .product_slide .p_slide .list .txt h4 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}
.main_product .product_slide .p_slide .list .txt h4 small {
  font-size: 26px;
}
.main_product .product_slide .p_slide .list .txt span a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
}
.main_product .product_slide .p_slide .list .txt span a::after {
  content: "\e907";
  position: absolute;
  bottom: -10px;
  right: 110px;
  transform: translate(0, -50%);
  font-family: xeicon;
  font-size: 30px;
  color: #363636;
  z-index: 998;
}
.main_product .product_slide .bg01 {
  background: url(../imges/mp_01.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg02 {
  background: url(../imges/mp_02.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg03 {
  background: url(../imges/mp_03.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg04 {
  background: url(../imges/mp_04.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg05 {
  background: url(../imges/mp_05.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg06 {
  background: url(../imges/mp_06.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .slide_btn {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_product .slide_btn i {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #dfdfdf;
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

.main_technical {
  position: relative;
}
.main_technical .video_box {
  width: 100%;
  height: 100%;
}
.main_technical .video_box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.main_technical .video_box video {
  width: 100%;
  height: 100%;
}
.main_technical .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  z-index: 999;
  top: 52.5%;
}
.main_technical .inner .tit {
  display: flex;
  align-items: center;
  gap: 250px;
  position: relative;
}
.main_technical .inner .tit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(0, -50%);
  width: 1px;
  height: 150px;
  background: #dfdfdf;
}
.main_technical .inner .tit h3 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
}
.main_technical .inner .tit p {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  margin: 0 0 50px 0;
}
.main_technical .inner .tit a {
  color: #ffffff;
  font-size: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 25px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 18px;
}

.main_customer {
  background: url(../imges/mc_01.jpg) no-repeat center center/cover;
  height: 100vh;
}
.main_customer .inner .txt {
  text-align: center;
}
.main_customer .inner .txt h3 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.main_customer .inner .txt p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 70px 0;
}
.main_customer .inner .txt span {
  font-size: 20px;
  font-weight: 400;
  color: #363636;
}
.main_customer .inner .txt span a {
  padding: 15px 30px;
  background: #ffffff;
  border-radius: 50px;
}

.main_news .inner .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px 0;
}
.main_news .inner .txt h3 {
  font-size: 70px;
  font-weight: 700;
  color: #363636;
}
.main_news .inner .txt span {
  cursor: pointer;
}
.main_news .inner .txt span i {
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
  background: #363636;
  padding: 10px;
  border-radius: 50%;
}
.main_news .inner .txt span i:hover {
  animation: rotate 0.5s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main_news .inner .news_box ul li {
  padding: 50px 0;
  border-bottom: 1px solid #dfdfdf;
}
.main_news .inner .news_box ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.main_news .inner .news_box ul li a span {
  font-size: 26px;
  font-weight: 500;
}
.main_news .inner .news_box ul li a .day {
  font-size: 32px;
  font-weight: 700;
  color: #80858c;
}
.main_news .inner .news_box ul li a .data {
  width: 100%;
  font-weight: 700;
}
.main_news .inner .news_box ul li:nth-child(1) {
  border-top: 1px solid #dfdfdf;
}

.main_global {
  position: relative;
}
.main_global .video_box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main_global .video_box video {
  position: absolute;
  left: 75%;
  bottom: 10%;
  transform: translateX(-50%) scale(1.5);
  -webkit-transform: translateX(-50%) scale(1.5);
  -moz-transform: translateX(-50%) scale(1.5);
  -ms-transform: translateX(-50%) scale(1.5);
  -o-transform: translateX(-50%) scale(1.5);
  min-width: 2000px;
  width: 100%;
}
.main_global .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  z-index: 999;
  top: 52.5%;
}
.main_global .inner .tit {
  color: #ffffff;
}
.main_global .inner .tit h3 {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 16px 0;
}
.main_global .inner .tit p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}/*# sourceMappingURL=skpucore.css.map */