@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  word-break: keep-all;
  font-family: "Noto Sans", "Noto Sans KR", "Roboto", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.h_inner {
  margin: 0 auto;
  padding: 0 60px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.header.on {
  background: rgba(0, 0, 0, 0.5);
}
.header .h_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .h_inner h1 {
  background: url(../imges/logo_w.svg) no-repeat center center/cover;
  width: 130px;
  height: 60px;
}
.header .h_inner .gnb:hover .lnb {
  display: block;
  top: 100px;
}
.header .h_inner .gnb:hover .lnb li {
  color: #ffffff;
}
.header .h_inner .gnb:hover::before {
  height: 200px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.header .h_inner .gnb::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.3s;
}
.header .h_inner .gnb ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
}
.header .h_inner .gnb ul li {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.header .h_inner .gnb ul li:hover {
  color: #ffd600;
}
.header .h_inner .gnb ul li a {
  line-height: 100px;
}
.header .h_inner .gnb ul li .lnb {
  flex-direction: column;
  min-width: 150px;
  position: absolute;
  top: 50px;
  left: 0;
  gap: 0;
  padding: 25px 0;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  display: none;
}
.header .h_inner .gnb ul li .lnb li {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  line-height: 30px;
  color: transparent;
}
.header .h_inner .gnb ul li .lnb li:hover {
  color: #ffd600;
}
.header .h_inner .gnb ul li .lnb li a {
  line-height: 20px;
}
.header .h_inner .cus {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .h_inner .cus span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.header .h_inner .cus span .inquiry {
  line-height: 100px;
  padding: 8px 25px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: 0.3s;
}
.header .h_inner .cus span .inquiry:hover {
  background: #EA002C;
  border: 1px solid transparent;
}
.header .h_inner .cus .lng {
  position: relative;
  cursor: pointer;
}
.header .h_inner .cus .lng span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.header .h_inner .cus .lng span a {
  line-height: 100px;
}
.header .h_inner .cus .lng ul {
  display: none;
  position: absolute;
  top: 30px;
  left: -10px;
  width: 60px;
  padding: 8px 16px;
  background: #dfdfdf;
}
.header .h_inner .cus .lng ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #363636;
}
.header .h_inner .cus .lng ul li ~ li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header .h_inner .cus .lng ul.on {
  display: block;
}

.main_sk .sk_slide {
  position: relative;
}
.main_sk .sk_slide .swiper-wrapper .swiper-slide .txt {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  width: 1400px;
  color: #ffffff;
}
.main_sk .sk_slide .swiper-wrapper .swiper-slide .txt h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin: 0 0 20px 0;
}
.main_sk .sk_slide .swiper-wrapper .swiper-slide .txt p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.main_sk .sk_slide .swiper-wrapper .sk01 {
  background: url(../imges/msk_01.png) no-repeat center center/cover;
  height: 100vh;
}
.main_sk .sk_slide .swiper-wrapper .sk02 {
  background: url(../imges/msk_02.png) no-repeat center center/cover;
  height: 100vh;
}
.main_sk .sk_slide .swiper-wrapper .sk03 {
  background: url(../imges/msk_03.png) no-repeat center center/cover;
  height: 100vh;
}
.main_sk .sk_slide .swiper_button {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  width: 1400px;
  top: 75%;
  left: 17%;
  width: auto;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  gap: 20px;
  z-index: 998;
}
.main_sk .sk_slide .swiper_button::before {
  content: "";
  position: absolute;
  top: 22%;
  left: 50%;
  width: 1px;
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 998;
}
.main_sk .sk_slide .swiper_button i {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  z-index: 998;
}
.main_sk .sk_slide .swiper-pagination {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  width: 1400px;
  top: 55%;
  width: 1400px;
  display: flex;
  justify-content: flex-start;
}
.main_sk .sk_slide .swiper-pagination .swiper-pagination-bullet {
  width: 50px;
  height: 2px;
  background: #ffffff;
  border-radius: 10px;
}
.main_sk .scroll_box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}
.main_sk .scroll_box::after {
  content: "";
  position: absolute;
  bottom: 150px;
  left: 50%;
  width: 2px;
  height: 50px;
  background: rgb(223, 223, 223);
  z-index: 999;
  animation: down 1.5s linear 1s infinite;
}
@keyframes down {
  0% {
    bottom: 100px;
    background: rgb(225, 225, 225);
  }
  50% {
    bottom: 50px;
    background: rgba(225, 225, 225, 0.8);
  }
  75% {
    bottom: 25px;
    background: rgba(225, 225, 225, 0.5);
  }
  100% {
    bottom: -10px;
    background: rgba(225, 225, 225, 0.1);
  }
}

.main_product .inner .tit {
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
  gap: 100px;
  position: relative;
}
.main_product .inner .tit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 60px;
  background: #cbd5e1;
  z-index: 998;
}
.main_product .inner .tit h3 {
  font-size: 60px;
  font-weight: 700;
  color: #363636;
}
.main_product .inner .tit p {
  font-size: 18px;
  font-weight: 500;
  color: #475569;
  line-height: 24px;
}
.main_product .product_slide .slick-active.slick-center .list .txt {
  display: block;
}
.main_product .product_slide .p_slide {
  position: relative;
  padding: 0 50px;
}
.main_product .product_slide .p_slide .list .txt {
  width: 100%;
  padding: 0 100px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}
.main_product .product_slide .p_slide .list .txt h4 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}
.main_product .product_slide .p_slide .list .txt h4 small {
  font-size: 26px;
}
.main_product .product_slide .p_slide .list .txt span a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
}
.main_product .product_slide .p_slide .list .txt span a::after {
  content: "\e907";
  position: absolute;
  bottom: -10px;
  right: 110px;
  transform: translate(0, -50%);
  font-family: xeicon;
  font-size: 30px;
  color: #363636;
  z-index: 998;
}
.main_product .product_slide .bg01 {
  background: url(../imges/mp_01.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg02 {
  background: url(../imges/mp_02.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg03 {
  background: url(../imges/mp_03.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg04 {
  background: url(../imges/mp_04.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg05 {
  background: url(../imges/mp_05.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .product_slide .bg06 {
  background: url(../imges/mp_06.png) no-repeat center center/cover;
  height: 400px;
}
.main_product .slide_btn {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_product .slide_btn i {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #dfdfdf;
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}

.main_technical {
  position: relative;
}
.main_technical .video_box {
  width: 100%;
  height: 100%;
}
.main_technical .video_box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.main_technical .video_box video {
  width: 100%;
  height: 100%;
}
.main_technical .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  z-index: 999;
  top: 45%;
}
.main_technical .inner .tit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  position: relative;
}
.main_technical .inner .tit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(0, -50%);
  width: 1px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
}
.main_technical .inner .tit h3 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
}
.main_technical .inner .tit p {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  margin: 0 0 50px 0;
}
.main_technical .inner .tit a {
  color: #ffffff;
  font-size: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 25px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 18px;
  transition: 0.5s;
}
.main_technical .inner .tit a:hover {
  background: #EA002C;
  border: 1px solid transparent;
}

.main_customer {
  background: url(../imges/mc_01.jpg) no-repeat center center/cover;
  height: 100vh;
}
.main_customer .inner .txt {
  text-align: center;
}
.main_customer .inner .txt h3 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.main_customer .inner .txt p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 70px 0;
}
.main_customer .inner .txt span {
  font-size: 20px;
  font-weight: 400;
  color: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_customer .inner .txt span:hover {
  color: #ffffff;
}
.main_customer .inner .txt span:hover a {
  background: #EA002C;
}
.main_customer .inner .txt span a {
  padding: 15px 30px;
  background: #ffffff;
  border-radius: 50px;
}
.main_customer .inner .txt span a i {
  margin: 0 0 0 10px;
}

.main_news .inner .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px 0;
}
.main_news .inner .txt h3 {
  font-size: 70px;
  font-weight: 700;
  color: #363636;
}
.main_news .inner .txt span {
  cursor: pointer;
}
.main_news .inner .txt span i {
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
  background: #363636;
  padding: 10px;
  border-radius: 50%;
}
.main_news .inner .txt span i:hover {
  animation: rotate 0.5s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
.main_news .inner .news_box ul li {
  padding: 50px 0;
  border-bottom: 1px solid #dfdfdf;
}
.main_news .inner .news_box ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.main_news .inner .news_box ul li a span {
  font-size: 26px;
  font-weight: 500;
}
.main_news .inner .news_box ul li a .day {
  font-size: 32px;
  font-weight: 700;
  color: #80858c;
}
.main_news .inner .news_box ul li a .data {
  width: 100%;
  font-weight: 700;
}
.main_news .inner .news_box ul li:nth-child(1) {
  border-top: 1px solid #dfdfdf;
}

.main_global {
  position: relative;
}
.main_global::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: #1b3973;
  opacity: 0.7;
  z-index: 1;
}
.main_global .video_box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main_global .video_box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1B3973;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.main_global .video_box video {
  position: absolute;
  left: 65%;
  bottom: 20%;
  transform: translateX(-50%) scale(1.5);
  -webkit-transform: translateX(-50%) scale(1.5);
  -moz-transform: translateX(-50%) scale(1.5);
  -ms-transform: translateX(-50%) scale(1.5);
  -o-transform: translateX(-50%) scale(1.5);
  min-width: 2000px;
  width: 100%;
}
.main_global .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  z-index: 998;
  top: 52.5%;
  width: 100%;
  max-width: 1600px;
}
.main_global .inner .tit {
  color: #ffffff;
}
.main_global .inner .tit h3 {
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 16px 0;
}
.main_global .inner .tit p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.main_global .link_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  width: 100%;
  height: 100%;
  z-index: 998;
}
.main_global .link_box li {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: absolute;
  transition: 0.5s;
}
.main_global .link_box li :hover {
  background: #EA002C;
  border: 1px solid transparent;
}
.main_global .link_box li a {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
.main_global .link_box li a i {
  font-size: 26px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
}
.main_global .link_box li a span {
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
}
.main_global .link_box .Poland {
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
}
.main_global .link_box .Russia {
  top: 40%;
  right: 40%;
  transform: translate(0, -50%);
}
.main_global .link_box .India {
  top: 60%;
  right: 40%;
  transform: translate(0, -50%);
}
.main_global .link_box .Seoul {
  top: 50%;
  right: 30%;
  transform: translate(0, -50%);
}
.main_global .link_box .Beijing {
  top: 35%;
  right: 20%;
  transform: translate(0, -50%);
}
.main_global .link_box .Ulsan {
  top: 60%;
  right: 20%;
  transform: translate(0, -50%);
}
.main_global .link_box .America {
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}
.main_global .link_box .Mexico {
  top: 60%;
  right: 10%;
  transform: translate(0, -50%);
}

.footer {
  padding: 50px 0;
  background: #222425;
}
.footer .inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer .inner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(0, -50%);
  width: 1px;
  height: 160px;
  background: #555555;
}
.footer .inner .company {
  display: flex;
  gap: 50px;
}
.footer .inner .company li {
  font-size: 18px;
  font-weight: 700;
  color: #dfdfdf;
}
.footer .inner .company li ul {
  padding: 15px 0;
}
.footer .inner .company li ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.footer .inner .about .impormation {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 30px 0;
}
.footer .inner .about .impormation li {
  font-size: 18px;
  font-weight: 700;
  color: #dfdfdf;
}
.footer .inner .about .family_box {
  cursor: pointer;
  position: relative;
}
.footer .inner .about .family_box span {
  font-size: 16px;
  font-weight: 400;
  color: #dfdfdf;
  background: #555555;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 0 30px 0;
}
.footer .inner .about .family_box span i {
  margin: 0 0 0 10px;
}
.footer .inner .about .family_box ul {
  position: absolute;
  bottom: 67px;
  left: 0;
  width: 162.66px;
  height: 0;
  transform: translate(0, 0);
  padding: 0 20px;
  background: #555555;
  z-index: 998;
  overflow: hidden;
  transition: 0.5s;
}
.footer .inner .about .family_box ul li {
  color: #dfdfdf;
  font-size: 16px;
  line-height: 24px;
}
.footer .inner .about .family_box ul.on {
  height: 140px;
  padding: 10px 20px;
}
.footer .inner .about span {
  display: block;
  color: #e2e8f0;
}
.footer .inner .about .address {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 5px 0;
}
.footer .inner .about .copy {
  font-size: 12px;
  font-weight: 400;
}/*# sourceMappingURL=skpucore.css.map */